@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .blur-bg{
        filter: blur(2px);
        background: rgba(0, 0, 0, 0.2);
        pointer-events: none;
        user-select: none;
        overflow: hidden;
    }
}